$background: #f4f3fc;
$white-hover: #dde5e5;
$white: #faf9fe;
$violet-main: #4845d2;
$violet-border: #4845d280;
$violet-hover: #ffffff20;
$violet-shadow: #4845d20d;
$light-violet: #f9f9fd;
$green: #14a44d;
$light-yellow: #fff5c5;
$yellow: #ffda18;
$sky-blue-higlight: #17a1fa;
$sky-blue-100: #edf2f7;
$light-blue-100: #b2fefa;
$light-blue-300: #0ed2f7;
$dark-blue-100: #6fb1fc;
$dark-blue-300: #0052d4;
$red-warn: #dc4c64;
$red: #ff4e50;
$dark-grey: #403d39;
$transparent-font: #403d3980;
$violet-hover: #ffffff20;
$maroon: #33050c;
$defaultFont: #403d39;
$orange: #e4a11d;
