@import "../../helper/colors.scss";

table {
  thead>tr>th {
    font-weight: 600 !important;
  }

  tbody>tr:hover {
    background-color: #dde5e5;
  }

  tbody>tr:nth-child(odd) {
    background-color: $light-violet;
  }

  .btnShow {
    background: #fec30e !important;
    color: black;
    text-transform: capitalize;
  }

  .btnWarning {
    background: #dd6b20 !important;
    color: white;
    text-transform: capitalize;
  }
}