@import './helper/colors';
$defaultPad: 5px;

@font-face {
    font-family: "Inter";
    src: local("Inter"),
        url("./assets/fonts/Inter-Light.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"),
        url("./assets/fonts/Inter-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"),
        url("./assets/fonts/Inter-Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"),
        url("./assets/fonts/Inter-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: "Inter";
    src: local("Inter"),
        url("./assets/fonts/Inter-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"),
        url("./assets/fonts/Inter-SemiBoldItalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"),
        url("./assets/fonts/Inter-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"),
        url("./assets/fonts/Inter-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

.App {
    color: $defaultFont;
    font-family: "Inter";

    button {
        font-family: "Inter";
    }

    .p-15 {
        padding: 15px;
    }

    .c-green {
        color: $green;
    }

    .c-red {
        color: $red-warn;
    }
    
    .row {
        display: flex;
        margin-bottom: 15px;

        .col-1 {
            padding: $defaultPad;
            width: 8.33%;
        }

        .col-2 {
            padding: $defaultPad;
            width: 16.66%;
        }

        .col-3 {
            padding: $defaultPad;
            width: 25%;
        }

        .col-4 {
            padding: $defaultPad;
            width: 33.33%;
        }

        .col-5 {
            padding: $defaultPad;
            width: 41.66%;
        }

        .col-6 {
            padding: $defaultPad;
            width: 50%;
        }

        .col-7 {
            padding: $defaultPad;
            width: 58.33%;
        }

        .col-8 {
            padding: $defaultPad;
            width: 66.66%;
        }

        .col-9 {
            padding: $defaultPad;
            width: 75%;
        }

        .col-10 {
            padding: $defaultPad;
            width: 83.33%;
        }

        .col-11 {
            padding: $defaultPad;
            width: 91.66%;
        }

        .col-12 {
            padding: $defaultPad;
            width: 100%;
        }

        .labelTitle {
            text-align: right;
            padding-top: 15px;
        }

        .txtright {
            text-align: right;
        }

    }

    .center {
        text-align: center;
    }

    .elemShow {
        display: block;
    }

    .elemHide {
        display: none;
    }

    // .title {
    //     text-transform: uppercase;
    // }

    .btn-success {
        border: 1px solid #38a169;
        text-transform: capitalize;
        color: green;
    }

    .btn-error {
        border: $red-warn;
        text-transform: capitalize;
        color: white;
        background: $red-warn;

        &:hover {
            color: black;
        }
    }

    .btn-warning {
        border: 1px solid #dd6b20;
        text-transform: capitalize;
        background: #dd6b20;
        color: white;

        &:hover {
            color: black;
        }
    }

    .active-b {
        background: rgba(25, 118, 210, 0.2);
        border-radius: 5px;
    }

    .div-table {
        margin: 30px 15px 0 15px;

        .div-container {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            border-radius: 10px;
            margin-bottom: 20px;
            background: white;
            width: 100%;

            .div-head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #444444;
                border-radius: 10px;
                padding: 15px;
                border-bottom: 2px solid #e3e3e3;

                .title {
                    font-weight: 700;
                    margin: 0;
                    color: #4845d2;
                }
            }

            .div-body {
                font-family: "Inter";
                padding: 20px;

                .div-content1 {
                    h3 {
                        margin: 0px;
                    }

                    display: flex;
                    justify-content: space-between;
                    border-bottom: 2px solid #e3e3e3;
                    padding-bottom: 10px;
                }

                .div-content2 {
                    display: flex;
                    justify-content: space-around;
                    border-bottom: 2px solid #e3e3e3;

                    .content1 {
                        width: 100%;
                        border-right: 1px solid #e3e3e3;
                        display: flex;
                        justify-content: center;
                    }

                    .content2 {
                        width: 100%;
                        border-left: 1px solid #e3e3e3;
                        display: flex;
                        justify-content: center;
                    }

                    .content1,
                    .content2 {
                        text-align: center;
                        padding-bottom: 10px;

                        h1 {
                            color: #4845d2;
                            font-size: 50px;
                            margin-bottom: 0px;
                        }

                        .user-group {
                            display: flex;
                            gap: 25px;
                            margin-top: 15px;

                            span {
                                color: #4845d2;
                                font-size: 18px;
                                font-weight: 600;
                            }

                            p {
                                margin: 0px
                            }
                        }
                    }
                }
            }

            .div-content {
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                gap: 15px;

                .div-search {
                    width: 100%;

                    .MuiInputBase-root {
                        padding: 0;

                        .MuiInputAdornment-root {
                            // background: #edf2f7;
                            padding: 20px;
                            cursor: pointer;
                        }
                    }
                }
            }

            .div-table-list {
                border-radius: 10px;
                padding: 20px;
                width: 100%;
                box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

                table {
                    thead>tr>th {
                        font-weight: 600 !important;
                        color: #4845d2;
                    }

                    .btnEdit {
                        background: #dd6b20 !important;
                        color: white;
                        text-transform: capitalize;
                    }

                    .btnShow {
                        background: #fec30e !important;
                        color: black;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }

    .input-center-bg {
        .MuiInputBase-sizeSmall {
            input {
                text-align: center;
                background: #1976d2;
                border-radius: 25px;
                color: white;
            }

            fieldset {
                border: none;
            }

            .MuiInputAdornment-sizeSmall {
                margin-left: -45px;

                svg {
                    color: white;
                }
            }
        }
    }

    .input-center {
        .MuiInputBase-sizeSmall {
            input {
                text-align: center;
            }
        }
    }

    .MuiInputBase-root.MuiInputBase-sizeSmall {
        border-radius: 25px;
        height: 34px;

        fieldset {
            top: -6px !important;
        }
    }

    .MuiButton-root {
        text-transform: capitalize;
    }

    .MuiList-root {
        padding: 0px;
    }

    .MuiStepIcon-root.Mui-completed {
        color: green;
    }

    .MuiButton-containedPrimary {
        background: #4845d2;
    }

    .div-otp-input {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 15px;
        margin-bottom: 15px;

        input {
            font-size: 45px;
            padding: 0;
            width: 1em !important;
            border: none;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgb(147 147 147 / 47%);
            border-radius: 10px;
            border: 1px solid #365089;
        }
    }

    .div-otp-input-success {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 15px;
        margin-bottom: 15px;

        input {
            font-size: 45px;
            padding: 0;
            width: 1em !important;
            border: none;
            box-shadow: 2px 4px 10px 1px rgb(111 217 111);
            border-radius: 10px;
            border: 1px solid $green;
        }
    }
}