$defaultPad: 5px;

@font-face {
    font-family: "Inter";
    src: local("Inter"),
        url("./assets/fonts/Inter-Light.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"),
        url("./assets/fonts/Inter-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"),
        url("./assets/fonts/Inter-Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"),
        url("./assets/fonts/Inter-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: "Inter";
    src: local("Inter"),
        url("./assets/fonts/Inter-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"),
        url("./assets/fonts/Inter-SemiBoldItalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"),
        url("./assets/fonts/Inter-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"),
        url("./assets/fonts/Inter-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

.App {
    font-family: "Inter";

    .p-15 {
        padding: 15px;
    }

    .c-green {
        color: #08f553;
    }

    .c-red {
        color: #9d0404;
    }

    .row {
        display: flex;
        margin-bottom: 15px;

        .col-1 {
            padding: $defaultPad;
            width: 8.33%;
        }

        .col-2 {
            padding: $defaultPad;
            width: 16.66%;
        }

        .col-3 {
            padding: $defaultPad;
            width: 24.99%;
        }

        .col-4 {
            padding: $defaultPad;
            width: 33.32%;
        }

        .col-5 {
            padding: $defaultPad;
            width: 41.65%;
        }

        .col-6 {
            padding: $defaultPad;
            width: 49.98%;
        }

        .col-7 {
            padding: $defaultPad;
            width: 58.31%;
        }

        .col-8 {
            padding: $defaultPad;
            width: 66.64%;
        }

        .col-9 {
            padding: $defaultPad;
            width: 74.97%;
        }

        .col-10 {
            padding: $defaultPad;
            width: 83.3%;
        }

        .col-11 {
            padding: $defaultPad;
            width: 91.63%;
        }

        .col-12 {
            padding: $defaultPad;
            width: 100%;
        }

        .labelTitle {
            text-align: right;
            padding-top: 15px;
        }

        .txtright {
            text-align: right;
        }

    }

    .center {
        text-align: center;
    }

    .elemShow {
        display: block;
    }

    .elemHide {
        display: none;
    }

    .title {
        text-transform: uppercase;
    }

    .btn-success {
        border: 1px solid #38a169;
        text-transform: capitalize;
        color: green;
    }

    .btn-error {
        border: #e53e3e;
        text-transform: capitalize;
        color: white;
        background: #e53e3e;

        &:hover {
            color: black;
        }
    }

    .btn-warning {
        border: 1px solid #dd6b20;
        text-transform: capitalize;
        background: #dd6b20;
        color: white;

        &:hover {
            color: black;
        }
    }

    .active-b {
        background: rgba(25, 118, 210, 0.2);
        border-radius: 5px;
    }
}